.portfolio-view {
    display         : flex;
    flex-direction  : column;
    margin-top      : 64px;
    border-radius   : 1rem;
    padding         : 32px;
    max-width       : 768px;
    margin          : auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius   : 8px;
    padding         : 32px;

    >h1 {
        font-weight  : 700;
        font-size    : 36px;
        margin-bottom: 32px;
    }

    >.interest-container {
        margin-top: 8px;

        >.ksp {
            margin-left: 4px;
        }

        >p {
            margin-top: 4px;
        }
    }

    >section {
        width     : 100%;
        text-align: left;
        margin-top: 32px;

        >h2 {
            font-weight  : 300;
            font-size    : 24px;
            margin-bottom: 32px;
        }
    }
}