/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
  @import url("https://p.typekit.net/p.css?s=1&k=zoc8uhz&ht=tk&f=15665.15666&a=43843172&app=typekit&e=css");
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  background: no-repeat url("/images/shared/img/img-bg.png");
  margin: auto;
  color: white;
}
.dialogue.alert {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.alert > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.alert > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.alert > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.alert > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: rgba(0, 68, 90, 0.8);
}
.dialogue.alert > .button-container > button:active {
  background-color: #00445a;
}
.dialogue.confirm {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.confirm > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.confirm > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.confirm > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.confirm > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.confirm > .button-container > button:hover {
  background-color: rgba(0, 68, 90, 0.8);
}
.dialogue.confirm > .button-container > button:active {
  background-color: #00445a;
}
.dialogue.prompt {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
}
.dialogue.prompt > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 8px 0px;
}
.dialogue.prompt > p {
  padding: 8px 0px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.prompt > .input-container {
  margin-top: 8px;
  padding: 16px 0px;
}
.dialogue.prompt > .input-container > input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  border: 1px solid #e4e8eb;
  background-color: transparent;
  color: white;
}
.dialogue.prompt > .input-container > input:hover {
  border: 1px solid #00445a;
}
.dialogue.prompt > .input-container > input:focus {
  border: 1px solid #00445a;
}
.dialogue.prompt > .button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
.dialogue.prompt > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.prompt > .button-container > button:hover {
  background-color: rgba(0, 68, 90, 0.8);
}
.dialogue.prompt > .button-container > button:active {
  background-color: #00445a;
}
.connect-wallet-popup {
  position: relative;
  max-width: 420px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.connect-wallet-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.connect-wallet-popup > p {
  padding: 16px;
  border-top: 1px solid #CCC;
  color: #CCC;
}
.connect-wallet-popup > .button-container {
  padding: 16px;
}
.connect-wallet-popup > .button-container > a {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  text-decoration: none;
}
.connect-wallet-popup > .button-container > a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  color: white;
}
.connect-wallet-popup > .button-container > a > img {
  margin-right: 10px;
}
.connect-wallet-popup > .button-container > .connect-kaikas-button {
  background-color: #6f6558;
  color: #ffffff;
}
.connect-wallet-popup > .button-container > .connect-klip-button {
  background-color: #fee500;
  color: #000000;
}
.connect-wallet-popup > .button-container > .cancel-button {
  border: 1px solid #ffffff;
}
.klip-qr-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.klip-qr-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.klip-qr-popup > .qr {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 16px 0;
  text-align: center;
}
.klip-qr-popup > p {
  margin-top: 16px;
  padding: 0 16px;
  color: white;
}
.klip-qr-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.klip-qr-popup > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.klip-qr-popup > .button-container > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.user-menu > .connect-wallet,
.user-menu > .wallet-address {
  display: block;
  width: 100%;
  text-align: center;
  color: linear-gradient(#111112, #2a292a) fixed;
  background-color: #00445a;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
}
.user-menu > .connect-wallet,
.user-menu > .wallet-address:hover {
  background-color: #00445a;
  color: white;
}
.user-menu > .wallet-address {
  position: relative;
  cursor: pointer;
}
.user-menu > .wallet-address > ul {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100px;
  display: none;
  background-color: #222;
  padding: 10px 0;
}
.user-menu > .wallet-address > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.user-menu > .wallet-address > ul > li > a:hover {
  color: #00445a;
}
.user-menu > .wallet-address > ul > li > a:active {
  color: #00445a;
}
.user-menu > .wallet-address:hover > ul {
  display: block;
}
.user-menu > ul {
  margin-top: 10px;
  margin-left: 10px;
}
.user-menu > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.user-menu > ul > li > a:hover {
  color: #00445a;
}
.user-menu > ul > li > a:active {
  color: #00445a;
}
.pc-menu > ul {
  display: flex;
}
.pc-menu > ul > li {
  display: flex;
  float: left;
  font-weight: 600;
}
.pc-menu > ul > li > a {
  cursor: pointer;
  padding: 8px 12px 8px 12px;
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
}
.pc-menu > ul > li > a:hover {
  background-color: rgba(0, 68, 90, 0.5);
  border-radius: 4px;
}
.pc-menu > ul > li > a:active {
  background-color: rgba(0, 68, 90, 0.7);
  border-radius: 4px;
}
.pc-menu > ul > li > ul {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100px;
  display: none;
  background-color: #222;
  padding: 10px 0;
}
.pc-menu > ul > li > ul > li > a {
  display: block;
  text-align: center;
  padding: 10px;
}
.pc-menu > ul > li > ul > li > a:hover {
  color: #00445a;
}
.pc-menu > ul > li > ul > li > a:active {
  color: #00445a;
}
.pc-menu > ul > li:hover > ul {
  display: block;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 12px 5px;
  font-size: 0.825rem;
}
.mobile-menu > ul > li > a:hover {
  color: #00445a;
}
.mobile-menu > ul > li > a:active {
  color: #00445a;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 8px 5px;
  color: #ccc;
}
.mobile-menu > ul > li > ul > li > a:hover {
  color: #00445a;
}
.mobile-menu > ul > li > ul > li > a:active {
  color: #00445a;
}
.mobile-menu > ul > li > ul > li.parent {
  display: none;
}
.mobile-menu > .user-menu {
  margin: auto;
  margin-top: 16px;
}
.user-info {
  display: flex;
  justify-content: center;
  min-height: 30px;
}
@media only screen and (max-width: 719px) {
  .user-info {
    display: none;
    width: 100%;
    min-height: 34px;
    align-items: center;
    padding: 16px 20px;
  }
  .user-info:hover {
    background-color: rgba(0, 68, 90, 0.9);
  }
  .user-info:active {
    background-color: #00445a;
  }
}
.user-info > .connect-wallet,
.user-info > .wallet-address {
  color: #00445a;
  padding: 8px 12px 8px 12px;
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 68, 90, 0.8);
  border-radius: 4px;
}
.user-info > .connect-wallet:hover,
.user-info > .wallet-address:hover {
  background-color: rgba(0, 68, 90, 0.9);
}
.user-info > .connect-wallet:active,
.user-info > .wallet-address:active {
  background-color: #00445a;
}
@media only screen and (max-width: 719px) {
  .user-info > .connect-wallet,
  .user-info > .wallet-address {
    color: #e0d8c8;
    width: 100%;
    padding: 0px;
    background-color: transparent;
  }
  .user-info > .connect-wallet:hover,
  .user-info > .wallet-address:hover {
    background-color: transparent;
  }
  .user-info > .connect-wallet:active,
  .user-info > .wallet-address:active {
    background-color: transparent;
  }
}
.collapsible-item {
  padding: 0px 20px;
}
.collapsible-item > section > .collapsible {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  background: black;
  padding: 26px 8px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 2rem;
  border-top: 1px solid #2C2C2C;
  border-bottom: 1px solid #2C2C2C;
}
@media only screen and (max-width: 719px) {
  .collapsible-item > section > .collapsible {
    font-size: 16px;
  }
}
.collapsible-item > section > .active,
.collapsible-item > section .collapsible:hover {
  background-color: #00445a;
}
.collapsible-item > section > .content {
  text-align: left;
  padding: 26px 8px;
  display: none;
  overflow: hidden;
  font-size: 16px;
  line-height: 2rem;
  border-bottom: 1px solid #2C2C2C;
  box-sizing: border-box;
}
@media only screen and (max-width: 719px) {
  .collapsible-item > section > .content {
    font-size: 14px;
  }
}
.nft-item {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 16px;
}
@media only screen and (max-width: 719px) {
  .nft-item {
    align-items: center;
  }
}
.nft-item > img {
  border-radius: 4px;
  max-width: 256px;
  width: 100%;
  height: auto;
}
.nft-item > h3 {
  font-size: 1.25rem;
  font-weight: 500;
  position: absolute;
  left: 8px;
  top: 8px;
  color: white;
  text-shadow: 1px 1px 1px #656565;
}
@media only screen and (max-width: 719px) {
  .nft-item > h3 {
    left: 24px;
  }
}
.nft-item > a > .send {
  font-size: 1.25rem;
  font-weight: 500;
  height: 24px;
  position: absolute;
  right: 2%;
  top: 2%;
  color: white;
  text-shadow: 1px 1px 1px #656565;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.nft-item > a > .send:hover {
  background-color: rgba(0, 68, 90, 0.8);
}
.nft-item > a > .send:active {
  background-color: #00445a;
}
.nft-item > button {
  color: white;
  margin-top: 16px;
  background-color: #00445a;
  border-radius: 4px;
  padding: 16px 0px;
  margin-right: 16px;
  max-width: 256px;
  width: 100%;
  font-family: trajan-pro-3, serif;
}
@media only screen and (max-width: 719px) {
  .nft-item > button {
    margin-right: 0px;
  }
}
.nft-item > button:hover {
  background-color: rgba(0, 68, 90, 0.9);
}
.nft-item > button:active {
  background-color: rgba(0, 68, 90, 0.8);
}
.portfolio-item {
  display: flex;
  border: solid 1px #1d1d20;
  background-color: #101010;
  padding: 20px;
  border-radius: 4px;
  align-items: flex-end;
}
@media only screen and (max-width: 719px) {
  .portfolio-item {
    flex-direction: column;
  }
}
.portfolio-item:hover {
  background-color: rgba(16, 16, 16, 0.9);
}
.portfolio-item > .title > h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-size: 21px;
}
.portfolio-item > .title > img {
  margin-top: 8px;
  max-width: 72px;
}
.portfolio-item > .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px 32px;
  text-align: left;
}
.portfolio-item > .content > p {
  font-family: trajan-pro-3, serif;
  margin-top: 16px;
  font-size: 14px;
}
.portfolio-item > button {
  height: 42px;
  color: #00445a;
  margin-top: 16px;
  padding: 12px 24px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 68, 90, 0.8);
  border-radius: 4px;
  font-family: trajan-pro-3, serif;
}
@media only screen and (max-width: 719px) {
  .portfolio-item > button {
    width: 100%;
  }
}
.portfolio-item > button:hover {
  background-color: rgba(0, 68, 90, 0.9);
}
.portfolio-item > button:active {
  background-color: #00445a;
}
.dialogue.transfer-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.transfer-popup > h2 {
  font-size: 21px;
  font-weight: 700;
  padding: 16px;
}
.dialogue.transfer-popup > p {
  padding: 0px 16px 8px 16px;
  font-size: 14px;
  line-height: 1.2em;
}
.dialogue.transfer-popup > .warning-container {
  display: flex;
  background-color: rgba(153, 0, 19, 0.7);
  padding: 8px;
  margin: 8px 16px;
  align-items: center;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.transfer-popup > .warning-container > .warning {
  padding-left: 8px;
  border-radius: 4px;
}
.dialogue.transfer-popup > .input-container {
  margin-top: 16px;
  padding: 0 16px;
}
.dialogue.transfer-popup > .input-container > input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  border: 1px solid #e4e8eb;
  background-color: transparent;
  color: white;
}
.dialogue.transfer-popup > .input-container > input:hover {
  border: 1px solid #00445a;
}
.dialogue.transfer-popup > .input-container > input:focus {
  border: 1px solid #00445a;
}
.dialogue.transfer-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.transfer-popup > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.dialogue.transfer-popup > .button-container > button:hover {
  background-color: rgba(0, 68, 90, 0.8);
}
.dialogue.transfer-popup > .button-container > button:active {
  background-color: #00445a;
}
.layout {
  width: 100%;
  background-color: black;
  background: url("/images/shared/img/img-bg.png");
}
.layout > header {
  display: flex;
  position: sticky;
  justify-items: center;
  background-color: black;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
@media only screen and (max-width: 719px) {
  .layout > header {
    height: auto;
  }
}
.layout > header > .nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  padding: 8px;
}
.layout > header > .nav > .logo {
  flex-grow: 1;
}
.layout > header > .nav > .logo > a > img {
  height: 36px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .pc-menu {
    display: none;
  }
}
.layout > header > .nav > .right {
  display: flex;
  align-items: center;
}
.layout > header > .nav > .right:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.layout > header > .nav > .right > .user-menu {
  float: right;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .user-menu {
    display: none;
  }
}
.layout > header > .nav > .right > .language-select {
  cursor: pointer;
  padding: 8px 8px 8px 8px;
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
  margin-right: 8px;
}
.layout > header > .nav > .right > .language-select:hover {
  background-color: rgba(0, 68, 90, 0.5);
  border-radius: 4px;
}
.layout > header > .nav > .right > .language-select:active {
  background-color: rgba(0, 68, 90, 0.7);
  border-radius: 4px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .language-select {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .layout > header > .nav > .right > .language-select:hover {
    background-color: #333332;
  }
}
.layout > header > .nav > .right > .mix-button {
  float: right;
  margin-top: 2px;
  margin-right: 16px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .mix-button {
    margin-top: 6px;
    margin-right: 10px;
  }
}
.layout > header > .nav > .right > .menu-button {
  float: right;
  display: none;
  padding: 10px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .nav > .right > .menu-button {
    display: block;
  }
}
.layout > main {
  max-width: 1240px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 32px 0px;
}
.layout > footer {
  color: white;
  background-color: black;
}
.layout > footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
}
.layout > footer .footer-container > .sns {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.layout > footer .footer-container > .sns > a {
  display: block;
  border-radius: 8px;
}
.layout > footer .footer-container > .sns > a > img {
  padding: 8px;
  width: 40px;
  height: 40px;
}
.layout > footer .footer-container > .sns > a:hover {
  background-color: rgba(0, 68, 90, 0.8);
}
.layout > footer .footer-container > .link-tree {
  display: flex;
  justify-content: space-around;
  font-size: 0.75rem;
  margin-bottom: 16px;
}
.layout > footer .footer-container > .link-tree > .kronos {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .kronos:hover {
  color: #b19c76;
}
.layout > footer .footer-container > .link-tree > .hr {
  margin: 8px;
}
.layout > footer .footer-container > .link-tree > .supernova {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .supernova:hover {
  color: #990013;
}
.layout > footer .footer-container > .link-tree > .stableDAO {
  color: #CCCCCC;
}
.layout > footer .footer-container > .link-tree > .stableDAO:hover {
  color: #00445a;
}
.layout > footer .footer-container > .copyright {
  font-size: 0.75rem;
  margin-bottom: 32px;
}
.landing-view {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
.landing-view > main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 719px) {
  .landing-view > main {
    padding: 20px;
  }
}
.landing-view > main > .init-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
}
.landing-view > main > .init-container > img {
  width: 35%;
  margin: 32px;
}
@media only screen and (max-width: 719px) {
  .landing-view > main > .init-container > img {
    width: 80%;
  }
}
.landing-view > main > .init-container > a {
  display: block;
  max-width: 320px;
  width: 100%;
  padding: 12px;
  background-color: #00445a;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 2rem;
  font-family: trajan-pro-3, serif;
}
.landing-view > main > .init-container > a:hover {
  background-color: rgba(0, 68, 90, 0.8);
}
.landing-view > main > .init-container > .flow-map {
  width: 50%;
  margin: 72px;
  border-radius: 4px;
}
@media only screen and (max-width: 719px) {
  .landing-view > main > .init-container > .flow-map {
    width: 100%;
    margin: 0px;
  }
}
.landing-view > main > .init-container > p {
  margin-top: 32px;
  line-height: 2rem;
}
.landing-view > main > .project-container > h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-size: 45px;
  color: #00445a;
  margin-top: 12rem;
}
.landing-view > main > .project-container > a {
  display: block;
  text-decoration: underline;
  font-family: trajan-pro-3, serif;
  font-weight: 500;
  margin-top: 1rem;
  color: #e0d8c8;
}
.landing-view > main > .project-container > a:hover {
  text-decoration: none;
}
.landing-view > main > .project-container > img {
  margin-top: 4rem;
  width: 50%;
}
@media only screen and (max-width: 719px) {
  .landing-view > main > .project-container > img {
    width: 100%;
  }
}
.landing-view > main > .project-container > #ama {
  height: 30rem;
  border: 1rem solid rgba(255, 255, 255, 0.1);
}
.landing-view > main > .project-container > h3 {
  font-family: trajan-pro-3, serif;
  font-weight: 500;
  font-size: 21px;
  margin-top: 4rem;
  color: #e0d8c8;
}
.landing-view > main > .project-container > p {
  margin-top: 16px;
  line-height: 32px;
}
.landing-view > main > .buy-container > h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-size: 45px;
  color: #00445a;
  margin-top: 12rem;
}
.landing-view > main > .buy-container > a {
  display: block;
  max-width: 320px;
  width: 100%;
  padding: 12px;
  background-color: #00445a;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 2rem;
  font-family: trajan-pro-3, serif;
}
.landing-view > main > .buy-container > a:hover {
  background-color: rgba(0, 68, 90, 0.8);
}
.landing-view > main > .buy-container > h3 {
  font-family: trajan-pro-3, serif;
  font-weight: 500;
  font-size: 21px;
  margin-top: 4rem;
  color: #e0d8c8;
}
.landing-view > main > .buy-container > p {
  margin-top: 16px;
  line-height: 32px;
}
.landing-view > main > .video-container > h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-size: 45px;
  color: #00445a;
}
.landing-view > main > .video-container > .video {
  margin-top: 1rem;
}
.landing-view > main > .fundflow {
  margin-top: 12rem;
  width: 50%;
}
@media only screen and (max-width: 719px) {
  .landing-view > main > .fundflow {
    width: 100%;
  }
}
.landing-view > main > .nft-container > h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 12rem;
  color: #00445a;
}
.landing-view > main > .nft-container > p {
  margin-top: 2rem;
  font-size: 0.875rem;
}
.landing-view > main > .nft-container > section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}
.landing-view > main > .nft-container > section > img {
  width: 300px;
  margin: 8px;
  border-radius: 4px;
}
@media only screen and (max-width: 719px) {
  .landing-view > main > .nft-container > section {
    grid-template-columns: repeat(1, 1fr);
  }
}
.landing-view > main > .mint-container > h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 12rem;
  color: #00445a;
}
.landing-view > main > .mint-container > h3 {
  margin-top: 4rem;
  line-height: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
}
.landing-view > main > .mint-container > h4 {
  margin-top: 2rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.landing-view > main > .mint-container > .caption {
  margin-top: 0.5rem;
}
.landing-view > main > .mint-container > p {
  margin-top: 1rem;
}
.landing-view > main > .mint-container > a {
  display: block;
  font-family: copperplate, serif;
  cursor: pointer;
  margin-top: 16px;
  padding: 16px;
  text-decoration: none;
  background-color: #00445a;
  border-radius: 4px;
  color: white;
}
.landing-view > main > .mint-container > a:hover {
  background-color: rgba(0, 68, 90, 0.9);
}
.landing-view > main > .mint-container > a:active {
  background-color: rgba(0, 68, 90, 0.8);
}
.landing-view > main > .team-container > h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 12rem;
  color: #00445a;
}
.landing-view > main > .team-container > section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 719px) {
  .landing-view > main > .team-container > section {
    grid-template-columns: repeat(1, 1fr);
  }
}
.landing-view > main > .team-container > section > .team > h3 {
  margin-top: 4rem;
  line-height: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
}
.landing-view > main > .team-container > section > .team > p {
  margin-top: 1rem;
  color: rgba(0, 68, 90, 0.8);
}
.landing-view > main > .faq-container,
.landing-view > main .partnership-container {
  width: 100%;
}
.landing-view > main > .faq-container > h2,
.landing-view > main .partnership-container > h2 {
  font-family: trajan-pro-3, serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 12rem;
  color: #00445a;
}
.landing-view > main > .faq-container > section,
.landing-view > main .partnership-container > section {
  margin-top: 4rem;
}
.landing-view > main > .faq-container > section > a > img,
.landing-view > main .partnership-container > section > a > img {
  width: 100%;
  height: 96px;
  padding: 16px;
}
@media only screen and (max-width: 719px) {
  .landing-view > main > .faq-container > section > a > img,
  .landing-view > main .partnership-container > section > a > img {
    margin-top: 2rem;
  }
}
.landing-view > main > .faq-container > section > a > .electrikFinance,
.landing-view > main .partnership-container > section > a > .electrikFinance {
  max-width: 351px;
  height: 129px;
  padding: 16px;
}
.buy-view {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 64px;
  border-radius: 1rem;
  padding: 32px;
  padding-bottom: 60px;
  max-width: 768px;
  margin: auto;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}
.buy-view > h1 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 64px;
}
.buy-view > img {
  width: 20%;
  margin: 32px;
}
@media only screen and (max-width: 719px) {
  .buy-view > img {
    width: 80%;
  }
}
.buy-view > .selector-container > p {
  font-size: 16px;
  margin-top: 16px;
  font-weight: 300;
}
.buy-view > .selector-container > .select {
  margin-top: 16px;
  display: flex;
}
@media only screen and (max-width: 719px) {
  .buy-view > .selector-container > .select {
    flex-direction: column;
  }
}
.buy-view > .selector-container > .select > a.disable {
  padding: 12px;
  color: #676767;
  font-weight: 400;
}
.buy-view > .selector-container > .select > a.disable:hover {
  border-bottom: solid 3px #00445a;
}
.buy-view > .selector-container > .select > a {
  width: 100%;
  padding: 12px;
  font-weight: 700;
  color: #00445a;
}
.buy-view > .selector-container > .select > a:hover {
  border-bottom: solid 3px #00445a;
}
.buy-view > .selector-container > .select > hr {
  width: 1px;
  height: 24px;
  background: #676767;
  border: none;
  margin: 8px 50px;
}
@media only screen and (max-width: 719px) {
  .buy-view > .selector-container > .select > hr {
    width: 100%;
    height: 1px;
    margin: 0px;
  }
}
.buy-view > .input-container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}
.buy-view > .input-container > p {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 300;
}
.buy-view > .input-container > input {
  color: white;
  border: 1px solid #1d1d20;
  border-radius: 4px;
  padding: 12px;
  background-color: #101010;
}
.buy-view > .input-container > input:hover {
  border-color: #00445a;
}
.buy-view > .input-container > input:focus {
  border-color: #00445a;
}
.buy-view > .input-container > .button-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.buy-view > .input-container > .button-container > a {
  width: 50%;
  display: block;
  color: #00445a;
  margin-top: 16px;
  padding: 12px 24px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 68, 90, 0.8);
  border-radius: 4px;
}
.buy-view > .input-container > .button-container > a:hover {
  background-color: rgba(0, 68, 90, 0.9);
}
.buy-view > .input-container > .button-container > a:active {
  background-color: #00445a;
}
.buy-view > .input-container > .button-container > .disabled {
  background: #C8C8C8;
  color: #E0E0E0;
}
.buy-view > .input-container > .button-container > .disabled:hover {
  background: #C8C8C8;
}
.buy-view > .input-container > .button-container > .disabled:active {
  background: #C8C8C8;
}
.buy-view > .input-container > .usdt {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
  padding: 12px 24px;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #00445a;
  color: white;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.buy-view > .input-container > .usdt:hover {
  background-color: rgba(0, 68, 90, 0.2);
}
.buy-view > .input-container > .usdt:active {
  background-color: rgba(0, 68, 90, 0.5);
}
.buy-view > .nft-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-top: 64px;
}
.buy-view > .nft-container > h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 16px;
}
.buy-view > .nft-container > section {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
@media only screen and (max-width: 719px) {
  .buy-view > .nft-container > section {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio-view {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  border-radius: 1rem;
  max-width: 768px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 32px;
}
.portfolio-view > h1 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 32px;
}
.portfolio-view > .interest-container {
  margin-top: 8px;
}
.portfolio-view > .interest-container > .ksp {
  margin-left: 4px;
}
.portfolio-view > .interest-container > p {
  margin-top: 4px;
}
.portfolio-view > section {
  width: 100%;
  text-align: left;
  margin-top: 32px;
}
.portfolio-view > section > h2 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 32px;
}

